@{
    ViewData["Title"] = "Inicio";
}

<nav class="navbar navbar-expand-lg bg-dark" @*style="margin-top: -0.1rem"*@>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Beneficiarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Avance de efectivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Transferencia</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="mt-5 d-flex justify-content-center border border-5">
    <div class="col-11" style="border: 1px solid red">
        <h2>Cuentas</h2>
    </div>
</div>