@using Core.Application.ViewModels.Users
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Recuperar contrasena";
}


<div class="col-12 d-flex justify-content-center">
    <div class="col-5 mt-5">
        <form method="post" asp-controller="User" asp-action="ForgotPassword">
            <div class="card">
                <div class="card-header">
                    <h4>Recuperar contrasena</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new{@class = "text-danger"})

                    @if (Model.HasError == true)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button class="btn btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                    }

                    <div class="form-outline mb-4">
                        <label asp-for="Email" class="form-label">Correo</label>
                        <input asp-for="Email" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-3">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
