@using Core.Application.ViewModels.Users;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="col-12 d-flex justify-content-center">
    <div class="col-5 mt-5">
        <form method="post" asp-action="ResetPassword" asp-controller="User">

            <div class="card">
                <div class="card-header">
                    <h4>Reiniciar contrasena</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new{@class = "text-danger"})

                    @if (Model.HasError == true)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button class="btn btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                    }

                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <label asp-for="ConfirmPassword" class="form-label">Repeat password</label>
                    </div>


                    <input asp-for="Token" hidden class="form-control" />

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-3">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>
