
<h4 class="mx-auto text-center text-danger bg-primary">Este usuario no esta activo para administrar sus productos</h4>

<a asp-controller="ManageUser" asp-action="Index" class="btn btn-info">Volver atras</a>