@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Application.ViewModels.CuentaAhorros;
@using Core.Application.ViewModels.Products
@model SaveCuentaAhorroViewModel
@{
    var userName = ViewBag.UserName;
}

<form method="post" asp-action="ManageClientProducts" asp-controller="ManageUser">
    <h4>Agregando cuenta de ahorro para el usuario: @userName</h4>
    <div>
        <label asp-for="Balance" class="form form-label">Monto de la cuenta de ahorro:</label>
        <input type="number" required class="form form-control" asp-for="Balance" value="">
        <input type="hidden" asp-for="UserId" value="@Model.UserId">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>