@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Application.ViewModels.CuentaAhorros;
@using Core.Application.ViewModels.Products
@model SaveCuentaAhorroViewModel
@{
    var userName = ViewBag.UserName;
}

<form class="mx-auto border border-1 border-secondary rounded-2" style="max-width: 450px;" method="post" asp-action="ManageClientProducts" asp-controller="ManageUser">
    <div class="d-flex flex-column justify-content-center align-content-center p-1 m-1">
        <h4 class="m-1">Agregar cuenta de ahorro a: @userName</h4>
        
        <label asp-for="Balance" class="form form-label">Monto de la cuenta de ahorro:</label>
        <input type="number" required class="form form-control m-1" asp-for="Balance" value="">
        <input type="hidden" asp-for="UserId" value="@Model.UserId">

        <button type="submit" class="btn btn-primary m-1">Crear</button>
        <a class="btn btn-danger m1" asp-action="Index" asp-controller="ManageUser">Cancelar</a>
    </div>
</form>