@using Core.Application.ViewModels.TarjetaCreditos;
@model SaveTarjetaCreditoViewModel
@{
    var userId = ViewBag.UserId;
}



<form class="mx-auto border border-1 border-secondary rounded-2" style="max-width: 450px;" method="post" asp-action="ManageTarjetaCredito" asp-controller="ManageUser">
    <div class="d-flex flex-column justify-content-center align-content-center p-1 m-1">
    <h4 class="m-1">Solicitud tarjeta de credito</h4>
        <label asp-for="Limite" class="form form-label"> Seleccione un monto limite para la tarjeta de credito: </label>
        <select asp-for="Limite" class="form form-select mb-2">
            <option value="10000">$10,000</option>
            <option value="15000">$15,000</option>
            <option value="20000">$20,000</option>
            <option value="30000">$30,000</option>
            <option value="40000">$40,000</option>
            <option value="50000">$50,000</option>
            <option value="60000">$60,000</option>
        </select>
        <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
        <input type="hidden" asp-for="Debe" value="0" />
        <input type="hidden" asp-for="Balance" value="0"/>
        <input type="hidden" asp-for="Pago" value="0" />
        <input type="hidden" asp-for="IdProduct" value="@null" />
        
        <button type="submit" class="btn btn-primary m-1">Agregar tarjeta de credito</button>
    </div>
</form>